QBoxLayout#main_layout
{
background-color:none;
margin: 0px 0px 0px 0px;
border: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

QVBoxLayout#content_layout
{
background-color:#FFFFFF;
margin: 0px 0px 0px 0px;
border: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

QVBoxLayout#mbox_layout
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
padding: 0px;
}

QScrollArea#mbox_content
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
padding: 0px;
}

/* Blue bar button of mbox */
QPushButton#mbox_title_button
{
background-color:#FFFFFF;/*#00ADEF*/
margin: 0px;
border: 0px;
border-bottom: 1px solid #BBBBBB;
padding: 0px 0px 2px 0px;
height: 25px;
}

QHBoxLayout#mbox_title_layout
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
padding: 0px;
}

/* Mbox name */
QLabel#mbox_title
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
padding: 0px;
font-weight: normal;
font-size:9pt;
height: 15px;
max-height: 15px;
color:#00ADEF;
font-family:"Arial",sans-serif;
}

/* Count of unread messages */
QLabel#msg_count
{
background-color:#FFFFFF;
font-weight: normal;
margin: 0px;
border: 0px;
padding: 0px;
font-size:9pt;
height: 15px;
max-height: 15px;
color:#00ADEF;
}

QPushButton#refresh
{
background-color:#FFFFFF;
background-image:url('PROJECTDATADIR/refresh.png');
margin: 0px;
border: 0px solid #FFFFFF;
padding: 0px;
color:#FFFFFF;
width: 16px;
height: 16px;
}

QPushButton#config
{
background-color:#FFFFFF;
background-image:url('PROJECTDATADIR/config.png');
margin: 0px;
border: 0px solid #FFFFFF;
padding: 0px;
color:#FFFFFF;
width: 20px;
height: 20px;
}

/* Layout which contains all messages items */
QVBoxLayout#mbox_content_layout
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
padding: 0px;
}

/* Button which contains all data relative to a mail message */
QPushButton#msg_item
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
border-bottom: 1px solid #BBBBBB;
padding: 0px;
color:#000000;
min-height: 40px;
}

/* Label container for the dot before each message */
QLabel#msg_point_unseen, QLabel#msg_point_seen
{
background-color:#FF0000;
margin: 0px 0px 5px 0px;
border: 0px;
padding: 0px;
min-height: 12px;
min-width: 12px;
max-height: 12px;
max-width: 12px;
}

QLabel#msg_point_unseen
{
background-image:url('PROJECTDATADIR/msg_point_blue.png');
}

QLabel#msg_point_seen
{
background-image:url('PROJECTDATADIR/msg_point_black.png');
}

/* Layout container for "from" and "subject" Labels */
QVBoxLayout#msg_layout
{
background-color:#0000FF;
margin: 0px 0px 0px 0px;
border: 0px;
padding: 0px;
}

QLabel#from
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
padding: 0px;
font-weight: bold;
font-size:8pt;
font-family:"Arial",sans-serif;
color:#424242;
min-height: 14px;
}

QLabel#subject, QLabel#subject_bold
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
padding: 0px;
font-size:8pt;
font-family:"Arial",sans-serif;
color:#424242;
min-height: 14px;
}

QLabel#subject
{
font-weight: normal;
}

QLabel#subject_bold
{
font-weight: bold;
}

QWidget#mbox_area
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
padding: 0px;
color: #FFFFFF;
}
/*
QWidget
{
background-color:#FFFFFF;
margin: 0px;
border: 0px;
padding: 0px;
}*/
